//grid
xs = 320px
md = 768px
xl = 1200px


//colors
white = #fff
black = #000

pearl-white = #f7f4f1
forest-wolf = #e5ddd5
pale-brown =#826550
gray-brown =#353535
pearl-white =#f8f5f2
pearl-white-2 =#f9f6f3
bright-telegray =#d1d1d1
dark-blue-green =#000101
wet-asphalt =#4e4e4e
signal-black =#292929
blue-gray-craiola = #81b3d2
smoky-white = #f2f2f2
accent-color = blue-gray-craiola
feature-color = #eee
signal-black = #333
svg-form-bg = #e6e6e6

text-color = #222
bg-color = smoky-white
border-color = #dbdbdb

//section colors
menu-color = black
menu-bg = accent-color
menu-bg-dark = #678fa8
menu-bg-light = #9ac2db
