footer.page-footer
	.page-footer__item.visitsedona
		a(href="#") #visitsedona
	.page-footer__item.socials
		.socials__item.tweeter
			svg(width="20" height="20")
				use(xlink:href="#tweeter")
		.socials__item.facebook
			svg
				use(xlink:href="#facebook")
		.socials__item.youtube
			svg
				use(xlink:href="#youtube")
	.page-footer__item.author
		span Разработано
		icon.icon-htmlacademy
