.photo-slider.photo-slider--big#js-photo-slider
	.photo-slider__item
		picture
			source(media="(min-width: 648px)", srcset="assets/i/slider-big-1.jpg")
			source(media="(min-width: 320px)", srcset="assets/i/slider-big-648-1.jpg")
			img(src="assets/i/slider-big-280-1.jpg", alt="photo")
		.photo-slider__content
			.photo-slider__text
				h3.photo-slider__title Неродные просторы
				p.photo-slider__author автор фото: Борис
			.photo-slider__likes
				svg.icon-like
					use(xlink:href="#like")
				span.like-number 1350
	.photo-slider__item
		picture
			source(media="(min-width: 648px)", srcset="assets/i/slider-big-2.jpg")
			source(media="(min-width: 320px)", srcset="assets/i/slider-big-648-2.jpg")
			img(src="assets/i/slider-big-280-2.jpg", alt="photo")
		.photo-slider__content
			.photo-slider__text
				h3.photo-slider__title Неродные просторы
				p.photo-slider__author автор фото: Борис
			.photo-slider__likes
				svg.icon-like
					use(xlink:href="#like")
				span.like-number 350
	.photo-slider__item
		picture
			source(media="(min-width: 648px)", srcset="assets/i/slider-big-3.jpg")
			source(media="(min-width: 320px)", srcset="assets/i/slider-big-648-3.jpg")
			img(src="assets/i/slider-big-280-3.jpg", alt="photo")
		.photo-slider__content
			.photo-slider__text
				h3.photo-slider__title Неродные просторы
				p.photo-slider__author автор фото: Борис
			.photo-slider__likes
				svg.icon-like
					use(xlink:href="#like")
				span.like-number 1350
	.photo-slider__item
		picture
			source(media="(min-width: 648px)", srcset="assets/i/slider-big-4.jpg")
			source(media="(min-width: 320px)", srcset="assets/i/slider-big-648-4.jpg")
			img(src="assets/i/slider-big-280-4.jpg", alt="photo")
		.photo-slider__content
			.photo-slider__text
				h3.photo-slider__title Неродные просторы
				p.photo-slider__author автор фото: Борис
			.photo-slider__likes
				svg.icon-like
					use(xlink:href="#like")
				span.like-number 850
	.photo-slider__item
		picture
			source(media="(min-width: 648px)", srcset="assets/i/slider-big-5.jpg")
			source(media="(min-width: 320px)", srcset="assets/i/slider-big-648-5.jpg")
			img(src="assets/i/slider-big-280-5.jpg", alt="photo")
		.photo-slider__content
			.photo-slider__text
				h3.photo-slider__title Неродные просторы
				p.photo-slider__author автор фото: Борис
			.photo-slider__likes
				svg.icon-like
					use(xlink:href="#like")
				span.like-number 550
