.photo-slider-small.photo-slider#js-photo-slider-small
	.photo-slider__item
		picture
			source(media="(min-width: 648px)", srcset="assets/i/slider-small-467-1.jpg")
			source(media="(min-width: 320px)", srcset="assets/i/slider-small-324-1.jpg")
			img(src="assets/i/slider-small-280-1.jpg", alt="photo")
		.photo-slider__content
			.photo-slider__text
				h3.photo-slider__title Неродные просторы
				p.photo-slider__author автор фото: Борис
			.photo-slider__likes
				svg.icon-like
					use(xlink:href="#like")
				span.like-number 1350
	.photo-slider__item
		picture
			source(media="(min-width: 648px)", srcset="assets/i/slider-small-467-2.jpg")
			source(media="(min-width: 320px)", srcset="assets/i/slider-small-324-2.jpg")
			img(src="assets/i/slider-small-467-2.jpg", alt="photo")
		.photo-slider__content
			.photo-slider__text
				h3.photo-slider__title Неродные просторы
				p.photo-slider__author автор фото: Борис
			.photo-slider__likes
				svg.icon-like
					use(xlink:href="#like")
				span.like-number 350
	.photo-slider__item
		picture
			source(media="(min-width: 648px)", srcset="assets/i/slider-small-467-3.jpg")
			source(media="(min-width: 320px)", srcset="assets/i/slider-small-324-3.jpg")
			img(src="assets/i/slider-small-467-3.jpg", alt="photo")
		.photo-slider__content
			.photo-slider__text
				h3.photo-slider__title Неродные просторы
				p.photo-slider__author автор фото: Борис
			.photo-slider__likes
				svg.icon-like
					use(xlink:href="#like")
				span.like-number 1350
	.photo-slider__item
		picture
			source(media="(min-width: 648px)", srcset="assets/i/slider-small-467-4.jpg")
			source(media="(min-width: 320px)", srcset="assets/i/slider-small-324-4.jpg")
			img(src="assets/i/slider-small-467-4.jpg", alt="photo")
		.photo-slider__content
			.photo-slider__text
				h3.photo-slider__title Неродные просторы
				p.photo-slider__author автор фото: Борис
			.photo-slider__likes
				svg.icon-like
					use(xlink:href="#like")
				span.like-number 1350
	.photo-slider__item
		picture
			source(media="(min-width: 648px)", srcset="assets/i/slider-small-467-5.jpg")
			source(media="(min-width: 320px)", srcset="assets/i/slider-small-324-5.jpg")
			img(src="assets/i/slider-small-467-5.jpg", alt="photo")
		.photo-slider__content
			.photo-slider__text
				h3.photo-slider__title Неродные просторы
				p.photo-slider__author автор фото: Борис
			.photo-slider__likes
				svg.icon-like
					use(xlink:href="#like")
				span.like-number 1350
