extends template

block yandex-api
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_ru&apikey=*7494e3e7-008f-4e03-bd72-31a4650591f7" type="text/javascript")

block title
	title Главная

block content

	.hidden
		include ../../../build/assets/i/svg/inline/sprite.svg

	.container
		.page-header
			nav.nav-menu
				ul.nav-list#js-nav-list
					block main-nav
						li.nav-list__item
							a() Главная
						li.nav-list__item
							a(href="photo.html") Фото и видео
						li.nav-list__item
							a(href="form.html") Форма отзыва
						li.nav-list__item
							a(href="#") Html Academy

				.logo.page-header__logo
					picture
						source(media="(min-width: 768px)", srcset="assets/i/logo-desktop.svg")
						img(src="assets/i/logo-mobile.svg", alt="logo")

				button.show-menu.nav-menu__show-button#js-show-menu
				button.close-menu.nav-menu__close-button#js-close-menu
				span
				span
		//nav-menu

		.page-header__content
			picture.page-header__img
				img(src="assets/i/intro.svg", alt="intro" width="460" height="352")
		//page-header

		section.section-header
			.section-header__content
				h2.section-header__title Седона — небольшой городок в аризоне, заслуживающий большего!
				p.section-header__description Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!

		.feature
			header.feature__header
				h2.feature__title Настоящий городок
				.feature__number № 1
				p.feature__description Седона не аттракцион для туристов, там течет своя жизнь
			picture.feature__picture
				source(media="(min-width: 768px)", srcset="assets/i/feature-1.jpg")
				source(media="(min-width: 320px)", srcset="assets/i/feature-2.jpg")
				img.feature__image(src="assets/i/feature-3.jpg", alt="feature-1")
		//feature

		.housing
			.housing__item
				span.housing__icon.icon.housing-1
				.housing__content
					h3.housing__title Жилье
					p.housing__description Рекомендуем пожить в настоящем мотеле, все как в кино!

			.housing__item
				span.housing__icon.icon.housing-2
				.housing__content
					h3.housing__title Еда
					p.housing__description Всегда заказывайте фирменный бургер, Вы не разочаруетесь!

			.housing__item
				span.housing__icon.icon.housing-3
				.housing__content
					h3.housing__title Сувениры
					p.housing__description Не только китайского, но и местного производства!
		//housing

		.feature.feature__reverse
			header.feature__header
				h2.feature__title Там есть мост дьявола
				.feature__number № 2
				p.feature__description Да, по нему можно пройти! Если вы осмелитесь, конечно
			picture.feature__picture
				source(media="(min-width: 768px)", srcset="assets/i/feature2-1.jpg")
				source(media="(min-width: 320px)", srcset="assets/i/feature2-2.jpg")
				img.feature__image(src="assets/i/feature2-3.jpg", alt="feature-1")
		//feature

		.feature__collections
			.feature__header.feature__header--gray
				h2.feature__title Небольшая площадь

				.feature__number № 4
				p.feature__description Все интересные места находятся очень близко

			.feature__header.feature__header--gray
				h2.feature__title Красивая дорога

				.feature__number № 5
				p.feature__description Ехать в седону из лас-вегаса совсем не скучно!

			.feature__header.feature__header--gray
				h2.feature__title Мало туристов

				.feature__number № 6
				p.feature__description Большинство едет в гранд каньон и толпится там
		//feature__collections

		section.interested
			h2.interested__title Заинтересовалсиь?
			p.interested__text Укажите предполагаемые даты поездки,<br> и мы покажем вам лучшие предложения гостиниц в седоне
			button.button.interested__button Найти гостиницу
		//interested

		.map#js-map

	include ../includes/footer
	include ../includes/ie-scripts
	include ../includes/scripts.pug
	script(src="assets/libs/slick/slick.min.js ")
	script(src="assets/js/main.min.js")
	script(src="assets/js/yandex-map.js")

