extends template

block css

block title
	title Главная

block content
	.container
		.page-header
			nav.nav-menu
				ul.nav-list#js-nav-list
					li.nav-list__item
						a() Главная
					li.nav-list__item
						a(href="#") Фото и видео
					li.nav-list__item
						a(href="#") Форма отзыва
					li.nav-list__item
						a(href="#") Html Academy

				.logo.page-header__logo
					picture
						source(media="(min-width: 768px)", srcset="assets/i/logo-desktop.svg")
						img(src="assets/i/logo-mobile.svg", alt="logo")

				button.show-menu.nav-menu__show-button#js-show-menu
				button.close-menu.nav-menu__close-button#js-close-menu
					span
					span
	//footer
	|
	|
block comment-scripts
block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
	script(src="assets/js/main.min.js")

