extends template

block title
	title Photo

block content
	.hidden
		include ../../../build/assets/i/svg/inline/sprite.svg

	.container
		.page-header
			nav.nav-menu
				ul.nav-list#js-nav-list
					block main-nav
						li.nav-list__item
							a(href="index.html") Главная
						li.nav-list__item.nav-list__item--active
							a() Фото и видео
						li.nav-list__item
							a(href="form.html") Форма отзыва
						li.nav-list__item
							a(href="#") Html Academy

				.logo.page-header__logo
					picture
						source(media="(min-width: 768px)", srcset="assets/i/logo-desktop.svg")
						img(src="assets/i/logo-mobile.svg", alt="logo")

				button.show-menu.nav-menu__show-button#js-show-menu
				button.close-menu.nav-menu__close-button#js-close-menu
				span
				span
		//nav-menu

		.page-header__content
			picture.page-header__img
				img(src="assets/i/intro.svg", alt="intro" width="460" height="352")
		//page-header

		section.section-header
			.section-header__content
				h2.section-header__title Фото и видео
				p.section-header__description Не можете решиться на путешествие из-за курса? Фотографии помогут вам забыть о политике и экономике.

		.photo-slider#js-photo-slider
			.photo-slider__item
				img(src="assets/i/slider-big-1.jpg", alt="photo")
				.photo-slider__content
					.photo-slider__text
						h3.photo-slider__title Неродные просторы
						p.photo-slider__author автор фото: Борис
					.photo-slider__likes
						span.icon.icon-like
						span.like-number 1350
			.photo-slider__item
				img(src="assets/i/slider-big-2.jpg", alt="photo")
				.photo-slider__content
					.photo-slider__text
						h3.photo-slider__title Неродные просторы
						p.photo-slider__author автор фото: Борис
					.photo-slider__likes
						span.icon.icon-like
						span.like-number 350
			.photo-slider__item
				img(src="assets/i/slider-big-3.jpg", alt="photo")
				.photo-slider__content
					.photo-slider__text
						h3.photo-slider__title Неродные просторы
						p.photo-slider__author автор фото: Борис
					.photo-slider__likes
						span.icon.icon-like
						span.like-number 1350
			.photo-slider__item
				img(src="assets/i/slider-big-4.jpg", alt="photo")
				.photo-slider__content
					.photo-slider__text
						h3.photo-slider__title Неродные просторы
						p.photo-slider__author автор фото: Борис
					.photo-slider__likes
						span.icon.icon-like
						span.like-number 850
			.photo-slider__item
				img(src="assets/i/slider-big-5.jpg", alt="photo")
				.photo-slider__content
					.photo-slider__text
						h3.photo-slider__title Неродные просторы
						p.photo-slider__author автор фото: Борис
					.photo-slider__likes
						span.icon.icon-like
						span.like-number 550

		include ../includes/footer
		include ../includes/ie-scripts
		include ../includes/scripts
		script(src="assets/libs/slick/slick/slick.min.js ")
		script(src="assets/js/main.min.js")

