.button
	display table
	margin 0 auto
	width 460px
	height 58px
	ptsansbold()
	font-size 21px
	line-height 58px
	text-align center
	text-transform uppercase
	color white
	background accent-color
	border none
	cursor pointer
