.close-menu
	position absolute
	margin 0
	padding 0
	width 26px
	height 26px
	border none
	background none
	span
		position absolute
		top 50%
		left 0
		transform translateY(-50%)
		display block
		width 30px
		height 6px
		transform rotate(45deg)
		background white

		&:last-child
			transform rotate(-45deg)

