.feature
	display flex
	justify-content space-between
	height: 256px

	@media screen and (max-width: 500px) {
		display block
		height auto
	}

	&.feature__reverse
		.feature__header
			order 3
			@media screen and (max-width: 500px) {
				order 2
			}

		.feature__picture
			order 2
			@media screen and (max-width: 500px) {
				order 3
			}

.feature__header
	display flex
	flex-direction column
	justify-content space-between
	align-items center
	flex-grow 1
	text-align center
	padding 50px 0
	color white
	background accent-color
	@media screen and (max-width: md) {
		padding 50px
	}

	&--gray
		color text-color
		background feature-color


.feature__title
	max-width 160px
	ptsansbold()
	font-size 21px
	text-transform uppercase
	@media screen and (max-width: 500px) {
		margin-bottom 18px
		max-width none
	}

.feature__number
	position relative
	padding 0 15px
	letter-spacing -2px

	&::before,
	&::after
		content ''
		position absolute
		top 50%
		transform translateY(-50%)
		width 10px
		height 2px
		background white

	&::before
		left 0

	&::after
		right 0

.feature__description
	width 290px
	text-transform uppercase
	@media screen and (max-width: md) {
		width 174px
	}
	@media screen and (max-width: 500px) {
		width 272px
	}

.feature__picture
	overflow hidden
	@media screen and (max-width: 500px) {
		overflow visible
	}

.feature__image
	max-width initial
	height 100%
	@media screen and (max-width: 500px) {
		max-width: 100%
		height auto
	}

.feature__collections
	display flex
	justify-content space-between
	@media screen and (max-width: 500px) {
		display block
	}

	.feature__header
		padding-left 0
		padding-right 0
		@media screen and (max-width: 500px) {
			padding-top 34px
			padding-bottom 34px
			border-bottom 1px solid bright-telegray
		}

	.feature__number::before,
	.feature__number::after
		background gray-brown

	.feature__description
		@media screen and (max-width: 980px) {
			width 160px
		}
		@media screen and (max-width: 500px) {
			width 262px
		}
