.feature
	display flex
	justify-content space-between
	height: 256px

	@media screen and (max-width: 500px) {
		display block
	}

.feature__header
	display flex
	flex-direction column
	justify-content space-between
	align-items center
	flex-grow 1
	text-align center
	padding 50px 0
	color white
	background accent-color
	@media screen and (max-width: md) {
		padding 50px
	}

.feature__title
	max-width 172px
	ptsansbold()
	font-size 21px
	text-transform uppercase
	@media screen and (max-width: 500px) {
		margin-bottom 18px
		max-width none
	}

.feature__number
	position relative
	padding 0 15px
	letter-spacing -2px

	&::before,
	&::after
		content ''
		position absolute
		top 50%
		transform translateY(-50%)
		width 10px
		height 2px
		background white

	&::before
		left 0

	&::after
		right 0

.feature__description
	width 290px
	text-transform uppercase
	@media screen and (max-width: md) {
		width 174px
	}
	@media screen and (max-width: 500px) {
		width 272px
	}

.feature__picture
	overflow hidden
	@media screen and (max-width: 500px) {
		overflow visible
	}

.feature__image
	max-width initial
	height 100%
	@media screen and (max-width: 500px) {
		max-width: 100%
		height auto
	}
