.form
	display grid
	grid-template-columns repeat(2, 1fr)
	grid-template-rows repeat(6, auto)
	grid-template-areas "impressions introduce"\
											"contacts contacts"\
											"sights sights"\
											"emotions emotions"\
											"submit submit"
	padding 6px 120px 66px
	background white
	@media screen and (max-width: xl) {
		padding 6px 60px 66px
	}
	@media screen and (max-width: 730px) {
		grid-template-columns 1fr
		grid-template-areas "introduce"\
												"contacts"\
												"impressions"\
												"sights"\
												"emotions"\
												"submit"
	}

	@media screen and (max-width: 560px) {
		padding 24px
	}

	.form__header
		position relative
		&::after
			content ''
			position absolute
			top 50%
			left 0
			width 100%
			height 1px
			background border-color
			z-index 2
			@media screen and (max-width: 560px) {
				display none
			}

.form__title
	ptsansbold()
	font-size 21px
	text-transform uppercase

.form__title--center
	position relative
	display table
	margin 0 auto
	padding 0 60px
	background white
	z-index 4
	@media screen and (max-width: 560px) {
		padding 0
	}


.form__title--contacts
	margin-bottom 77px

.form__group--impressions
	grid-area impressions
	border-right 1px solid border-color
	@media screen and (max-width: 730px) {
		border none
	}

.form__group--introduce
	grid-area introduce

.form__group--contacts
	grid-area contacts
	margin-bottom 58px

.form__group--sights
	grid-area sights
	margin-bottom 76px

.form__group--emotions
	grid-area emotions

.form__group--submit
	grid-area submit
	display flex
	justify-content space-between
	align-items center
	@media screen and (max-width: 730px) {
		display block
	}

.submit__button
	display block
	margin 0
	@media screen and (max-width: 840px) {
		width 100%
	}

.submit__text
	text-transform uppercase
	@media screen and (max-width: 840px) {
		display none
	}

.form__group--impressions,
.form__group--introduce
	margin-bottom 78px

.form__title--impressions,
.form__title--introduce
	margin-bottom 67px
	padding-left 71px
	@media screen and (max-width: xl) {
		padding-left 0
	}

.form__title--introduce
	padding-left 79px
	@media screen and (max-width: xl) {
		padding-left 58px
	}

.form__content--impressions
	display flex
	flex-direction column
	padding-left 71px

	label
		position relative
		margin-bottom 32px
		ptsansbold()
		font-size 18px
		height 46px
		cursor pointer

		&::before
			content ''
			position absolute
			top -9px
			left -71px
			width 16px
			height 16px
			background border-color
			border 15px solid border-color
			border-radius 50%

	input[type="radio"]:checked + label::before
			background signal-black

.form__content--introduce
	display flex
	flex-direction column
	padding-left 71px
	@media screen and (max-width: xl) {
		padding-left 58px
	}
	@media screen and (max-width: 560px) {
		padding-left 0
	}

.form__box--name
	input
		@media screen and (max-width: xl) {
			width 216px
		}
		@media screen and (max-width: 560px) {
			width 100%
		}

.form__box--surname,
.form__box--patrymonic
	input
		@media screen and (max-width: xl) {
			width 178px
		}
		@media screen and (max-width: 560px) {
			width 100%
		}

input[type="radio"]
	display none

input[type="text"],
input[type="email"],
input[type="phone"]
	height 58px
	font-size 18px
	font-weight bold
	line-height 58px
	text-indent 22px
	background smoky-white
	border none

.form__box
	display flex
	justify-content flex-start
	align-items center
	margin-bottom 20px

	label
		ptsans()
		font-size 14px
		margin-right 14px
		text-transform uppercase

	input
		flex-grow 1

.form__content--contacts
	display flex
	justify-content space-between
	padding-right 58px
	@media screen and (max-width: 1105px) {
		display block
	}
	label
		margin-right 14px
		font-size 14px
		text-transform uppercase
		@media screen and (max-width: 1105px) {
			display block
			margin-bottom 14px
		}
	input
		width 257px
		@media screen and (max-width: 1105px) {
			width 100%
		}

	.icon-phone,
	.icon-mail
		fill black

.form__small-group
	position relative

.form__small-group--contacts
	@media screen and (max-width: xl) {
		margin-bottom 30px
	}

.form__svg
	position absolute
	top 0
	right -58px
	display flex
	justify-content center
	align-items center
	width 58px
	height 58px
	background svg-form-bg
	@media screen and (max-width: 1105px) {
		top 32px
	}

.form__title--sights
	margin-bottom 50px
	width 280px
	text-align center

.form__content--sights
	display flex
	justify-content space-between
	@media screen and (max-width: 979px) {
		display grid
		grid-template-columns repeat(2, 210px)
		grid-template-rows repeat(2, 1fr)
		grid-gap 40px
		justify-content center
	}
	@media screen and (max-width: 560px) {
		display block
	}
	input[type="checkbox"]
		display none
	label
		display block
		position relative
		padding-left 76px
		height 46px
		line-height 46px
		font-size 18px
		font-weight bold
		cursor pointer
		&::before
			content ''
			position absolute
			top 0
			left 0
			width 46px
			height 46px
			background smoky-white
	input[type="checkbox"]:checked + label::after
		content ''
		position absolute
		top 10px
		left 10px
		width 26px
		height 26px
		background-image url("../i/tick.svg")
		background-repeat no-repeat
		background-position center

.form__title--emotions
	margin-bottom 60px

textarea
	margin-bottom 60px
	padding 22px
	width 100%
	height 160px
	font-size 18px
	font-weight bold
	background smoky-white
	border none

.form__small-group--sights
	@media screen and (max-width: 560px) {
		margin-bottom 34px
	}
