.interested
	padding 60px 0 68px
	text-align center
	background white
	@media screen and (max-width: md) {
		padding 34px 0 50px
	}

.interested__title
	margin-bottom 34px
	ptsansbold()
	font-size 30px
	text-transform uppercase
	color black
	@media screen and (max-width: md) {
		margin-bottom 30px
		font-size 21px
	}

.interested__text
	display table
	margin 0 auto 50px
	max-width 448px
	line-height 24px
	text-transform uppercase
	color gray-brown
	@media screen and (max-width: md) {
		margin-bottom 40px
	}
	@media screen and (max-width: 490px) {
		max-width 268px
	}
	br
		@media screen and (max-width: md) {
			display none
		}

.interested__button
	@media screen and (max-width: md) {
		width 280px
	}
