.photo-slider
	@media screen and (max-width: 320px) {
		padding 0 20px
	}
	&--big
		@media screen and (max-width: 448px) {
			display none
		}

.photo-slider__item
	position relative
	box-sizing: border-box

.photo-slider__content
	display flex
	justify-content space-between
	align-items center
	position absolute
	bottom 0
	left 0
	padding 40px 20px
	width 100%
	height 40px
	color white
	background rgba(0,0,0,0.6)
	box-sizing: border-box
	@media screen and (max-width: 648px) {
		color text-color
		background smoky-white
	}
	@media screen and (max-width: 448px) {
		position static
		display block
		margin 0 auto
		padding 20px 0 50px
		width 324px
		height auto
	}

.photo-slider__title
	margin-bottom 6px
	ptsansbold()
	text-transform uppercase

.photo-slider__text
	@media screen and (max-width: 448px) {
		margin-bottom 10px
	}

.photo-slider__likes
	display flex
	justify-content space-between
	align-items center
	width 60px

.icon-like
	width 23px
	height 23px
	fill white
	@media screen and (max-width: md) {
		fill #a9a9a9
	}

.photo-slider-small
	@media screen and (max-width: 448px) {
		margin 0 auto
		max-width 448px
	}
	.photo-slider__item
		img
			@media screen and (max-width: 448px) {
				display table
				margin 0 auto
			}
