textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="phone"]::-webkit-input-placeholder
	ptsansbold()
	font-size 18px
	color black
/* webkit */

textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="phone"]::-moz-placeholder
	ptsansbold()
	font-size 18px
	color black

/* webkit */

textarea:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="phone"]:-moz-placeholder
	ptsansbold()
	font-size 18px
	color black

/* webkit */

textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="phone"]:-ms-input-placeholder
	ptsansbold()
	font-size 18px
	color black
