.section-header
	padding 56px 0
	text-align center
	background white
	@media screen and (max-width: 560px) {
		padding 44px 0
	}

.section-header__content
	margin 0 auto
	width 500px
	@media screen and (max-width: 560px) {
		width 300px
	}

.section-header__title
	margin-bottom 38px
	ptsansbold()
	font-size 21px
	line-height 26px
	text-transform uppercase

.section-header__description
	text-transform uppercase
