@import 'partials/fonts'
@import 'partials/variables'
@import 'partials/mixins'
@import '../libs/slick/slick/slick.css'
// @import '../../../build/assets/i/svg/bg/css/sprite.css'

body
	margin 0
	padding 0
	padding-bottom 700px
	ptsans()
	font-size 14px
	color text-color
	background bg-color

h1,
h2,
h3,
h4,
h5,
h6
	margin 0
	padding 0

img
	max-width 100%
	height auto

.hidden
	display none

.container
	margin 0 auto
	padding: 0 40px
	max-width 1200px
	outline: 1px solid red

	@media screen and (max-width: md) {
		padding 0
		max-width 768px
	}

ul
	reset-list()

@import 'blocks/button.styl'
@import 'blocks/socials.styl'
@import 'blocks/map.styl'
@import 'blocks/page-header.styl'
@import 'blocks/nav-menu.styl'
@import 'blocks/nav-list.styl'
@import 'blocks/show-menu.styl'
@import 'blocks/close-menu.styl'
@import 'blocks/section-header.styl'
@import 'blocks/feature.styl'
@import 'blocks/housing.styl'
@import 'blocks/interested.styl'
@import 'blocks/footer.styl'
